<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

<meta name="description" content="{{ description }}" />
<meta name="keywords" content="{{ keywords }}" />

<script type="application/ld+json">
    {{ ldJson|safe }}
</script>

<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ url }}" />
<meta property="og:site_name" content="{{ title }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:image" content="{{ shareImage }}" />
<meta property="og:description" content="{{ description }}" />

<meta name="author" content="bRuttaZz" />
<meta name="twitter:card" content="{{ shareImage }}" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:site" content="@bRuttaZz" />
<meta name="twitter:creator" content="@bRuttaZz" />
<meta name="twitter:image" content="{{ shareImage }}" />

<meta
    name="google-site-verification"
    content="yy0W_kqfIlLBRYX7Eeqw8CKlFTdJ6Gp-ZlJSmWBMW04"
/>
<meta
    name="google-site-verification"
    content="OJKRiwUcAniBZKSSyY64QsZPA6mXm99Rx3vc_PrN4gs"
/>
