<!-- varriables : title, description, url -->
<%- include('partials/header.ejs', {
    name: "blog",
    title: title,
    description: description, 
    ldJson: `{
        "@context": "https://schema.org",
        "@id": "https://brutt.site",
        "@type": "WebPage",
        "name": title,
        "url": url,
        "description": description,
        "logo": "https://brutt.site/assets/images/avatar.jpg",
    }`,
    keywords: keywords,
    shareImage: shareImage || "https://brutt.site/assets/images/avatar.jpg",
    }); %>

    <!-- blog portion  -->
    <div class="blog-content">
        <div>
            <span class="blog-date-badge">Last Edited : <%= lastUpdateDate %></span>
        </div>
        <br>
        <%- content %>    
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/default.min.css">
    <style>
        .hljs {
            background: var(--hlgs-bg);
            color: var(--hlgs-text);
        }
    </style>

<%- include('partials/footer'); %>