<div class="blog-card">
    <a href="<%= url %>">
        <div class="vertical-align-center">
            <b class="title"><%= title %></b>
            <p>
                <%= longDescription %>
                <div>
                    <span class="badge">Last Modified: <%= mdate %></span>
                </div>
            </p>
        </div>
    </a>
</div>