/* Dark Theme Overrides */
:root {
    --text-color: #909497;
    --text-color-bold: #e0e0e0;
    --text-color-blog: #9b9b97;
    --text-color-footer: #6a6f71;
    --highlight-color: #3fafda;
    --highlight-color-text: #262626;
    --background-color: #1c1c1c;
    --hr-divider-color: #282828;

    --codehilite-bg: #1f1f1f;
    --codehilite-text: #fff;
}
