@font-face {
    font-family: 'RedHatMono';
    font-weight: 200;
    src: url(./fonts/red_hat_mono/mono/RedHatMono-Medium.woff2) format(woff2);
}

@font-face {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'RedHatMonoRegular';
    font-weight: 200;
    src: url(./fonts/red_hat_mono/mono/RedHatMono-Regular.woff2) format(woff2);
}


body {
    font-family: 'RedHatMono', monospace;
}

:root {
    /* default to light mode  */
    --background-color: #ffffff;
    --profile-cover-bg: #e6e6e6;
    --profile-cover-text-color: #464646;
    --profile-cover-secondary-text-color: rgb(124, 124, 123);
    --profile-cover-bio-text-color: rgb(73, 73, 73);
    --profile-cover-bio-badge-bg-color: rgb(158, 191, 253);
    --profile-cover-bio-badge-text-color: rgb(88, 88, 88);
    --profile-cover-about-bg: #d0d0d0;
    --profile-cover-about-text: rgb(75, 75, 75);
    --profile-cover-about-text-secondary: rgb(109, 109, 109);
    --project-section-bg: #d0d0d0;
    --project-section-text: gray;
    --project-card-bg: white;
    --project-card-text: rgb(80, 80, 80);
    --project-card-badge-bg: rgba(158, 191, 253);
    --anchor-txt-color: #177d97;

    background-color: var(--background-color);
}

.dark {
    /* and the dark mode  */
    --background-color: #0d1117;
    --profile-cover-bg: #1e2227;
    --profile-cover-text-color: #fafafa;
    --profile-cover-secondary-text-color: rgb(124, 124, 123);
    --profile-cover-bio-text-color: #949494;
    --profile-cover-bio-badge-bg-color: rgb(158, 191, 253);
    --profile-cover-bio-badge-text-color: #1e2227;
    --profile-cover-about-bg: rgba(179, 179, 179, 0.2);
    --profile-cover-about-text: rgb(208, 208, 208);
    --profile-cover-about-text-secondary: rgb(142, 162, 133);
    --project-section-bg: rgba(179, 179, 179, 0.2);
    --project-section-text: gray;
    --project-card-bg: #c1bfbf66;
    --project-card-text: rgb(34, 34, 34);
    --project-card-badge-bg: rgb(145, 152, 166);
    --anchor-txt-color: #cef083;
}

a {
    text-decoration: none;
    color: var(--anchor-txt-color);
}

.profile-cover {
    background-color: var(--profile-cover-bg);
    color: var(--profile-cover-text-color);
    margin: 10px;
    margin-top: 20px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.profile-cover .short-catch {
    margin-top: -20px;
    color: var(--profile-cover-secondary-text-color);
    font-size: small;
}

.profile-cover .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: smaller;
}

@media screen and (orientation: landscape) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-cover {
        width: 60%;
    }

    .profile-cover .container {
        flex-direction: row;
        /* Stack divs vertically */
    }
}

.profile-cover .container .bio {
    text-align: left;
    justify-content: left;
    min-width: 50%;
}

.profile-cover .container .bio-info {
    padding-top: 10px;
    color: var(--profile-cover-bio-text-color);
}

.profile-cover .container .bio-info span {
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: var(--profile-cover-bio-badge-bg-color);
    border-radius: 6px;
    color: var(--profile-cover-bio-badge-text-color);
}

.profile-cover .container .profile-img img {
    border-radius: 30px;
    width: 180px;
    height: 180px;
    margin-right: 20px;
}

.profile-about {
    margin-top: 20px;
    border-radius: 10px;
    width: calc(100% - 20px);
    background-color: var(--profile-cover-about-bg);
    padding: 10px;
    color: var(--profile-cover-about-text);
    font-size: medium;
}

.profile-about .container-about {
    color: var(--profile-cover-about-text-secondary);
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-about .container-about .left {
    text-align: left;
    justify-content: left;
}

.profile-about .container-about .right {
    text-align: right;
    justify-content: right;
}

.project-sec {
    background-color: var(--project-section-bg);
    width: calc(100% - 20px);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 20px;
}

.project-sec .project-sec-heading span img {
    margin-bottom: -5px;
}

.project-sec .project-sec-heading {
    color: var(--project-section-text);
}

.project-sec .project-cards {
    overflow-x: scroll;
    display: flex;
    justify-content: left;
    text-align: left;
}

.project-sec .project-card {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    background-color: var(--project-card-bg);
    min-width: calc(190px * 2.5);
    max-width: calc(190px * 3);
    height: 190px;
    border-radius: 5px;
    padding: 8px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'RedHatMonoRegular' monospace;
    font-size: smaller;
}

.project-sec .project-card div b {
    font-size: large;
    font-weight: 800;
}

.project-sec .project-card div {
    color: var(--project-card-text);
    padding-left: 5px;
    padding-right: 5px;
}

.project-sec .project-card .license {
    background-color: var(--project-card-badge-bg);
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

.project-sec .project-card .source-link {
    background-color: var(--project-card-badge-bg);
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.vertical-align-center {
    align-content: center;
}

/* .switch-box {
    background-color: var(--profile-cover-about-bg);
    width: 23px;
    height: 23px;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    left: auto;
    right: 35px;
    padding: 5px;
} */

.nav-bar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item {
    display: table;
    vertical-align: center;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
    height: 100%;
}

.nav-item-text {
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
}

.selected-nav {
    text-decoration: underline;
}

.header-btn {
    border-radius: 5px;
    background-color: var(--profile-cover-about-bg);
    vertical-align: center;
    text-align: center;
    cursor: pointer;
}

.theme-swticher {
    width: 23px;
    height: 23px;
    padding: 8px;
    margin-right: 0;
    margin-left: auto;
    font-size: larger;
}

.social-media-icons {
    font-size: larger;
}

.social-media-icons a {
    color: var(--profile-cover-secondary-text-color);
}