<!-- varriables : title, description, url -->
<%- include('partials/header.ejs', {
    name: "blog",
    title: title,
    description: description,
    ldJson: `{
        "@context": "https://schema.org",
        "@id": "https://brutt.site${url}",
        "@type": "BlogPosting",
        "headline": "${title}",
        "url": "https://brutt.site${url}",
        "description": "${description}",
        "image": {
            "@type": "ImageObject",
            "url": "${shareImage || "https://brutt.site/assets/images/avatar.jpg"}"
        },
        "author": {
            "@type": "Person",
            "name": "Agraj P Das",
            "url": "https://brutt.site"
        },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://brutt.site${url}"
        }
    }`,
    keywords: keywords,
    shareImage: shareImage || "https://brutt.site/assets/images/avatar.jpg"
    }); %>

    <!-- blog portion  -->
    <div class="blog-content">
        <div>
            <span class="blog-date-badge">Last Edited : <%= lastUpdateDate %></span>
        </div>
        <br>
        <%- content %>
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/default.min.css">
    <style>
        .hljs {
            background: var(--hlgs-bg);
            color: var(--hlgs-text);
        }
    </style>

<%- include('partials/footer'); %>
