<%- include('partials/header.ejs', {
    name: "projects" ,
    title: "Projects | bRuttaZz" ,
    description: "Projects of bRuttaZz (Agraj P Das) | List of some of my 'just for fun' projects.." ,
    url: "https://brutt.site/projects",
    ldJson: `{
        "@context" : "https://schema.org" ,
        "@id" : "https://brutt.site/projects" ,
        "@type" : "WebPage" ,
        "name": "Projects | bRuttaZz" ,
        "url" : "https://brutt.site/projects" ,
        "description": "Projects of bRuttaZz (Agraj P Das)! A list of some of my 'just for fun' projects." ,
        "primaryImageOfPage": {
            "@type": "ImageObject",
            "url": "https://brutt.site/assets/images/avatar.jpg"
        },
        "author": {
            "@type": "Person",
            "name": "Agraj P Das",
            "url": "https://brutt.site"
        }
    }`,
    keywords: "projects, allprojects, works, docs, agraj, agrajpdas, bruttazz, brutt, bruttsite, brutt.site",
    shareImage: "https://brutt.site/assets/images/avatar.jpg"
});
%>

    <!-- projects tab  -->
    <small class="ps-1 blogs-heading"><b>At times, I do some useless projects..</b></small>
    <div class="project-only-sec">
        <%- projects %>
    </div>

<%- include('partials/footer'); %>
