<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
        content="Agraj P Das (@bRUttaZz)! A software enthusiast. Find my projects and connection info over here!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">

    <title>bRuttaZz</title>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@id": "https://brutt.site",
            "@type": "WebPage",
            "name": "Agraj P Das (bRuttaZz)",
            "url": "https://brutt.site",
            "description": "Agraj P Das (@bRUttaZz)! A software enthusiast. Find my projects and connection info over here!",
            "logo": "https://brutt.site/assets/images/avatar.jpg",
            "sameAs": [
                "https://twitter.com/bruttazz_",
                "https://github.com/bruttazz",
                "https://instagram.com/bruttazz",
                "https://fosstodon.org/@bRUttaZz"
            ]
        }
    </script>

    <link rel="stylesheet" href="./assets/style.css">
    <link rel="shortcut icon" href="./assets/images/avatar.jpg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css" rel="stylesheet"
        crossorigin="anonymous">

    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Agraj P Das (@bRuttaZz)">
    <meta property="og:description"
        content="Agraj P Das (@bRUttaZz)! A software enthusiast. Find my projects and connection info over here!">
    <meta property="og:url" content="https://brutt.site">
    <meta property="og:site_name" content="bRuttaZz">
    <meta property="og:image" content="https://brutt.site/assets/images/avatar.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Agraj P Das (@bRuttaZz)">
    <meta name="twitter:description"
        content="Agraj P Das (@bRUttaZz)! A software enthusiast. Find my projects and connection info over here!">
    <meta name="twitter:site" content="@bRuttaZz">
    <meta name="twitter:creator" content="@bRuttaZz">
    <meta name="twitter:image" content="https://brutt.site/assets/images/avatar.jpg">
    <meta name="google-site-verification" content="yy0W_kqfIlLBRYX7Eeqw8CKlFTdJ6Gp-ZlJSmWBMW04" />
    <meta name="google-site-verification" content="OJKRiwUcAniBZKSSyY64QsZPA6mXm99Rx3vc_PrN4gs" />
</head>

<body>
    <div class="profile-cover">
        <h1>Agraj P Das</h1>
        <div class="theme-swticher theme-switcher-btn text-center m-md-4 ">
            <span class="mdi mdi-brightness-6 fs-5"></span>
        </div>
        <p class="short-catch">This site is intentionally being simple..</p>
        <div class="container">

            <div class="profile-img">
                <img src="./assets/images/me.jpg" class="realtar">
            </div>

            <div class="bio">
                <%- bioDat %>
                    <!-- will be filled with about.me.json content  -->
            </div>

        </div>

        <!-- the contact card  -->
        <div class="profile-about">
            <%- contactPortion %>

        </div>

        <!-- the projects section  -->
        <div class="project-sec">
            <b class="project-sec-heading">
                <span class="mdi mdi-pin"></span>
                pinned projects
            </b>
            <div class="project-cards">
                <%- projectCards %>
                    <!-- project cards comes here  -->
            </div>
        </div>
    </div>

    <script>
        const avatar = document.createElement("img")
        avatar.classList.add("avatar")
        avatar.src = "./assets/images/avatar.jpg"

        const profileImageContainer = document.querySelector(".profile-img")
        const realtar = document.querySelector(".realtar")
        let avatarFlag = true;
        profileImageContainer.addEventListener("click", () => {
            if (avatarFlag) {
                profileImageContainer.removeChild(realtar);
                profileImageContainer.append(avatar);
            } else {
                const currentChild = document.querySelector(".avatar")
                profileImageContainer.removeChild(currentChild);
                profileImageContainer.append(realtar);
            }
            avatarFlag = !avatarFlag
        });
        
        /**
         * Bind theming switching and ..you knw..!
         */
        (function bindThemeSwitch() {
            const systemMode = window.matchMedia("(prefers-color-scheme: dark)");
            const setSysTheme = () => {
                if (systemMode.matches) {
                    document.documentElement.classList.add("dark")
                    sessionStorage.setItem("theme-selection", "dark");
                } else {
                    document.documentElement.classList.remove("dark")
                    sessionStorage.setItem("theme-selection", "light");
                }
            }

            // set sys theme
            const cachedState = sessionStorage.getItem("theme-selection")
            if (cachedState === "dark")
                document.documentElement.classList.add("dark")
            else if (!cachedState)
                setSysTheme()


            systemMode.addEventListener("change", setSysTheme)

            // add custom button functionality
            document.querySelector(".theme-switcher-btn")?.addEventListener("click", (e) => {
                if (document.documentElement.classList.contains("dark")) {
                    document.documentElement.classList.remove("dark");
                    sessionStorage.setItem("theme-selection", "light");
                } else {
                    document.documentElement.classList.add("dark")
                    sessionStorage.setItem("theme-selection", "dark");
                }
            })
        })();

    </script>
    <noscript>Pardon! This page require Javascript to render. Kindly use a modern browser :)</noscript>
</body>
<footer>
    <center>
        <a rel="me" href="https://fosstodon.org/@bRuttaZz" style="color: blue;">-</a>
    </center>
</footer>

</html>