<%- include('partials/header.ejs', {
    name: "blogs",
    title: "Blogs | bRuttaZz",
    description: "Blogs of bRuttaZz (Agraj P Das) | List of some of my blog posts..", 
    ldJson: `{
        "@context": "https://schema.org",
        "@id": "https://brutt.site",
        "@type": "WebPage",
        "name": "Blogs | bRuttaZz",
        "url": "https://brutt.site/blogs",
        "description": "Blogs of bRuttaZz (Agraj P Das)! List of some of my blog posts..",
        "logo": "https://brutt.site/assets/images/avatar.jpg",
    }` }); %>

    <!-- blogs tab  -->
    <h3 class="ps-1 blogs-heading">Some of my "fair enough" writings..</h3>
    <div class="blogs-only-sec">
        <%- blogs %>
    </div>

<%- include('partials/footer'); %>